{% extends 'main/layout.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <p>{{ title }}</p>
    <div class="contact-info">
        <p class="heading">Свяжитесь с нами</p>
        <p class="basic">Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum
                        est notare quam littera gothica, quam nunc putamus parum claram anteposuerit litterarum
                        formas human. qui sequitur mutationem consuetudium lectorum. Mirum est notare quam</p>
        <p class="basic">Мы находимся по адресу:г. Москва, п. Дружба, Кропоткинский проезд, д.54</p>
        <p class="basic">E-mail: example@mail.ru</p>
        <p class="basic">Call: 89020202020 / 89121212121</p>
    </div>
{% endblock %}
