{% extends 'main/layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="slide">
        <div class="text">
            <p class="title-1">Top products</p>
            <p class="title-2">Plants for<br>interier</p>
            <a type="button" class="btn btn-dark" href="{% url 'products:product_list' %}">Shop now</a>
        </div>
    </div>
    <div class="description">
        <p class="prod_medium">У нас вы найдете более 150 декоративных растений для интерьера вашего дома, в подарок или цветы для офиса. Вы можете выбрать композиции сами или позвонить нам, и мы проконсультируем по выбору.<br><br>
            Абсолютно все декоративные композиции, представленные в ассортименте нашего магазина, составлены фитодизайнерами и профессиональными флористами. Все они аккуратно посажены в кашпо с автополивом. В стоимость входит все. Вы получаете готовую композицию. Видео о создании композиции вы можете найти в любой карточке товара.<br><br>
            Сочные лепестки, изящные стебли и эффектные цветки превращаются в настоящее произведение искусства с помощью легкой руки мастера. Купить такие комнатные цветы — значит внести новые яркие краски в интерьер дома, дизайн помещений и даже настроения людей.</p>
    </div>

{% endblock %}
